<div class="container">
	<div class="panel panel-default"
		<div class="panel-body">
			<div class="text center">
				<h1>About</h1>
				<h3>Are you a former foster care kid seeking resources? 
				<h3>Have you experienced homelessness before the age of 24? 
				<h3>Are you an undocumented student seeking resources about your rights and education? 
				<h3>We're glad you're here.</h3>

				<p>This is a work in progress, thanks for visiting.</h3>
				
			<br></br>
				<p>Team members <%= link_to "Log In", new_user_session_path, class: 'btn btn-default' %></p>
			</div>
		</div>
	</div>
</div>