<div class="container">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="text center">
				<h1>You are entitled to an education</h1>
				<h3>There are many scholarships available to you.</h3>
			</div>
		</div>
	</div>
</div>