<br></br>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
       <img class="img-responsive center-block" src="http://i1131.photobucket.com/albums/m544/spacecowboyadam/dogs1_zps4yrogksh.jpg" alt="First Slide"></img>
      <div class="carousel-caption">
        Puppy!
      </div>
    </div>
    <div class="item">
       <img class="img-responsive center-block" src="http://i1131.photobucket.com/albums/m544/spacecowboyadam/dogs2_zpsti9g7wsn.jpg" alt="Second Slide"</img>
      <div class="carousel-caption">
        Puppy!!
      </div>
    </div>
        <div class="item">
       <img class="img-responsive center-block" src="http://i1131.photobucket.com/albums/m544/spacecowboyadam/dogs3_zpsrbvn5caz.jpg" alt="Third Slide"></img>
      <div class="carousel-caption">
        Puppy!!!
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  <div class="panel panel-default"
    <div class="panel-body">
      <center>
        <h2>More text could go down here maybe?</h2>
      </center>
    </div>
  </div>
</div>