<div class="jumbotron">
	<h2>Bine ai venit! Bienvenido! Bienvenue!</h2>
	<p><h3>Support RustySporkBoys team and get the latest info.</p> 
	<p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %> to join the team.</h3></p>


</div>